:root {
    --column-count: 36;
    --row-count: 25;
}

body {
    background-color: black;

    font-family: "Courier New", monospace;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outer-color-picker {
    background-color: rgb(25, 25, 25);

    padding: 10px;
}

#inner-color-picker {
    background-color: black;

    padding: 5px;
}

#grid {
    display: inline-grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
}

#grid > div {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
  from {
    backdrop-filter: invert(70%);
  }

  to {
    backdrop-filter: invert(0%);
  }
}

#sliders {
    padding-top: 10px;
    margin-left: 10px;
}

.slider {
    max-width: 30%;
}

#slider-red {
    accent-color: rgb(241, 105, 105);
}

#slider-green {
    accent-color: rgb(105, 241, 128);
}

#slider-blue {
    accent-color: rgb(105, 148, 241);
}